.weather-info {
  border: 1px solid #3333;
  border-radius: 5px;
  background: #f5f5f5;
  text-align: center;
}

#location {
  font-size: 32px;
}

#weather {
  font-size: 48px;
}

#humidity {
  font-size: 24px;
}